.header{
    background-color: burlywood;
    padding-top: 15px;
    padding-right: 5px;
    font-family: Vivaldi;
    font-style: oblique;
    border-bottom: 3px solid red;
}

.header h1{
    text-align: center;
    padding-bottom: 2px;
}